{% extends "base.html" %}

{% block styles %}
{{super()}}
<link href="../static/assets/css/style.css" rel="stylesheet">
{% endblock %}

{% block content %}
<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
        <a href="{{ url_for('index') }}" class="logo d-flex align-items-center">
            <span class="d-none d-lg-block">KB-InterTech</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->
    {% if logged_in: %}
    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
            <li class="nav-item dropdown pe-3">
                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <span class="d-none d-md-block dropdown-toggle ps-2">Admin</span>
                </a><!-- End Profile Image Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6>Python Decorator</h6>
                        <span>Full Stack Developer</span>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="{{ url_for('add_cafe') }}">
                            <i class="bi bi-person"></i>
                            <span>Add Cafe</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="{{ url_for('index') }}">
                            <i class="bi bi-question-circle"></i>
                            <span>Home</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="{{ url_for('logout') }}">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>Sign Out</span>
                        </a>
                    </li>

                </ul><!-- End Profile Dropdown Items -->
            </li><!-- End Profile Nav -->

        </ul>
    </nav><!-- End Icons Navigation -->

    {% else %}
    <nav class="header-nav ms-auto px-5">
        <a href="{{ url_for('cafe') }}">
            <button class="btn btn-primary px-3">Home</button>
        </a>
    </nav><!-- End Icons Navigation -->
    {% endif %}

</header><!-- End Header -->
<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
    <h4 class="nav-item px-2">Select Location</h4>
    <ul class="sidebar-nav" id="sidebar-nav">
        {% for data in all_cafe_data %}
        <li class="nav-item">
            <a class="nav-link collapsed" href="#">
                <span>{{ data.location }}</span>
            </a>
        </li>
        {% endfor %}
    </ul>
</aside><!-- End Sidebar-->

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Café</h1>
    </div>

    <section class="section">
        <div class="row align-items-top">
            {% for data in all_cafe_data %}
            <div class="col-lg-8">

                <!-- Card with an image on left -->
                <div class="card">
                    <div class="row g-0">

                        <div class="card-header">
                            <h4>{{ data.name }}</h4>
                        </div>
                        <div class="col-md-4">
                            <img src="{{ data.img_url }}"
                                 class="img-fluid rounded-start" alt="{{ data.name }}">
                        </div>

                        <div class="col-md-8">
                            <div class="card-body">
                                <h6><i class="bi bi-geo-alt"></i><span> Location: {{ data.location }}</span></h6>
                                <h6><i class="bi bi-geo-alt"></i><span> Wifi Strength: {{ data.wifi_strength }}</span>
                                </h6>
                                <h6><i class="bi bi-geo-alt"></i><span> Coffee Price: {{ data.coffee_price }}</span>
                                </h6>
                                <h6><i class="bi bi-geo-alt"></i><span> Seats: {{ data.seats }}</span></h6><span></span>
                                <h6><i class="bi bi-geo-alt"></i><span> Has Sockets: {{ data.has_sockets }}</span></h6>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="{{ data.website }}">Visit Page</a>
                            {% if logged_in %}
                            <a href="{{ url_for('delete', cafe_id=data.id) }}">
                                <button class="btn btn-primary px-5">Delete</button>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div><!-- End Card with an image on left -->
            </div>

            <div class="container-fluid col-lg-4">
                <iframe src="{{ data.map_url }}"
                        width="600" height="328" style="border:0;" allowfullscreen="" loading="eager"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            {% endfor %}
        </div>
    </section>
</main><!-- End #main -->
<footer>
    <div class="footer-area-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="credits">
                        Designed by <a href="#">Amos @PythonDecorator</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock %}