<footer>
    <div class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-content">
                        <div class="footer-head">
                            <div class="footer-logo">
                                <h2><span>KB</span>-InterTech</h2>
                            </div>

                            <p>We can help you get the best IT setup and people to handle your projects from
                                start to finish.</p>
                            <div class="footer-icons">
                                <ul>
                                    <li>
                                        <a href="#"><i class="bi bi-github"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/AmosBrymo67154"><i class="bi bi-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/pythondecorator/"><i
                                                class="bi bi-instagram"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="bi bi-linkedin"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-content">
                        <div class="footer-head">
                            <h4>Information</h4>
                            <p>
                                Contact us to get more information.
                            </p>
                            <div class="footer-contacts">
                                <p><span>Tel:</span> +234 703 301 8224</p>
                                <p><span>Email:</span> okpeamos.ao@gamil.com</p>
                                <p><span>Working Hours:</span> 24/7</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-area-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="credits">
                        Designed by <a href="#">Amos @PythonDecorator</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
